@using blog.Models
@model List<tblPosts>

@foreach (tblPosts item in Model)
{
    <div id="@item.PostId" class="post col-xl-6">
        <div class="post-thumbnail"><a href="/Home/BlogDetay/@item.PostId"><img src="@item.PostResimUrl" alt="..." class="img-fluid"></a></div>
        <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">@string.Format("{0:dd MMMM}", item.EklenmeTarihi) | @string.Format("{0:yyyy}", item.EklenmeTarihi)</div>
                <div class="category"><a href="#">@item.tblKategoriler.Kategori</a></div>
            </div><a href="/Home/BlogDetay/@item.PostId">
                <h3 class="h4">@item.Baslik</h3>
            </a>

            @if (item.Icerik.Length > 145)
            {
                <p class="text-muted">@Html.Raw(item.Icerik.Substring(0, 145))</p>
            }
            else
            {
                <p class="text-muted">@Html.Raw(item.Icerik)</p>
            }

            <footer class="post-footer d-flex align-items-center">
                <a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="@item.tblYazarlar.AvatarResim" alt="..." class="img-fluid"></div>
                    <div class="title"><span>@item.tblYazarlar.KullaniciAdi</span></div>
                </a>
                <div class="date">
                    <i class="icon-clock"></i>
                    @string.Format("{0:dd MMMM yyyy}", item.EklenmeTarihi)

                </div>
                <div class="comments meta-last"><i class="icon-comment"></i>@item.tblYorumlar.Where(x => x.PostId == item.PostId).Count()</div>
            </footer>
        </div>
    </div>
}